:root {
  --primary: white;
}

body {
  margin: 1%;
}

/* header starts */
.app-title {
  background-image: linear-gradient(
    45deg,
    #4377ef 0%,
    #322bff 52%,
    #272a68 90%
  );
  text-align: center;
}
/* header ends */

/* city-search starts */
#search-city {
  width: 80%;
}
/* city-sarch ends */

/* saved-searches starts*/
/* saved-searches ends*/

/* current-weather starts */
#current-weather {
  padding-left: 15px;
}
/* current-weather ends */

/* future-forcast starts */

/* future-forcast ends */
