:root {
  --primary: white;
}

body {
  margin: 1%;
}

/* header starts */
.app-title {
  background-image: linear-gradient(
    45deg,
    #4377ef 0%,
    #322bff 52%,
    #272a68 90%
  );
  text-align: center;
}
/* header ends */

/* city-search starts */
/* city-sarch ends */

/* saved-searches starts*/
/* saved-searches ends*/

/* current-weather starts */
/* current-weather ends */

/* future-forcast starts */
.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
/* future-forcast ends */
